@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #f6d9fd;
}
/* cabeçalho */
.btnc {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: #040f16;
  color: #f5f5f5;
}

.btnc:hover {
  box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btnc .icon {
  position: absolute;
  height: 40px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.btnc .text {
  transform: translateX(55px);
}

.btnc:hover .icon {
  width: 175px;
}

.btnc:hover .text {
  transition: all 0.5s;
  opacity: 0;
}

.btnc:focus {
  outline: none;
}

.btnc:active .icon {
  transform: scale(0.85);
}
.cabecalho {
   font-family: 'Roboto';
    background-color: #c07bd3;
  }

  /*              */
.cmid{
  padding: 0;
    margin-top: 1rem;
    border-radius: 15px;
    background-color: #c88cdb  ;
}

.carrouselElements{
    color: black;
    margin: 0;
    padding: 0;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-size: 100%, 100%;
}

.carousel-control-next-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns%3D"http://www.w3.org/2000/svg" fill%3D"%23000000" viewBox%3D"0 0 16 16"%3E%3Cpath d%3D"M8.354 15.354a.5.5 0 0 1-.708-.708L14.293 8l-6.647-6.646a.5.5 0 0 1 .708-.708l7 7a.5.5 0 0 1 0 .708l-7 7z"/%3E%3C/svg%3E');
}

.carousel-control-prev-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns%3D"http://www.w3.org/2000/svg" fill%3D"%23000000" viewBox%3D"0 0 16 16"%3E%3Cpath d%3D"M8.354 1.646a.5.5 0 1 1 .708.708L2.707 8l6.355 6.646a.5.5 0 0 1-.708.708l-7-7a.5.5 0 0 1 0-.708l7-7z"/%3E%3C/svg%3E');
}

.modal-footer{
  color: #a6a6a6;
}

footer {
  background-color: #343a40;
  color: #DBDBDB;
  padding: 20px 0;
}

.footer-col {
  padding: 0 15px;
}

/* card */
.textc{
  color: white;
}
.card {
  background-color: #212121;
  box-shadow: 5px 5px 15px #191919,
               -15px -15px 30px #292929;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
               transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  max-width: 100%; /* Garante que o card não exceda a largura do contêiner */
  margin: 0 auto; /* Centraliza o card horizontalmente */
}
 
 .card:hover {
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.05);
 }

