body{
    background-color: #d9d9d9;
}
.cabecalho {
   font-family: 'Playfair Display', serif;
    background-color: #e9b2f8;
  }
  .cmid{
    margin-top: 1rem;
    border-radius: 15px;
    background-color: #a6a6a6;
}

footer {
    background-color: #343a40;
    color: #DBDBDB;
    padding: 20px 0;
  }
  
  .footer-col {
    padding: 0 15px;
  }

.feedcard{
  background-color: #a6a6a6;
}
  